.linear-gradient {
    background: linear-gradient(#08F0E2
    ,#236EB4) ;
    position:absolute;
    bottom:0;
    padding-top:50px;
    width:100%;
    height:50px;;
  }
  
  div {
    width: auto;
    height: 8vh;
  }
  
   
  