body{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 100vh;
}
img
{
    max-width: 40rem;
    width: 100%;
    height: auto;
}
*{
    margin: 0;
    padding: 0;
}
.margin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face{
    font-family: 'Indie-Flower, Luciole-Regular';
    src:
     url('police/IndieFlowerBold.ttf'), format(truetype);
     src:
     url('police/LucioleRegular.ttf'), format(truetype);
   font-weight:normal;
   font-size:normal;  
}

  .main__lsf{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 4rem;
      max-width: 60rem;
    
  }

  .main__lsf__paragraphe{
      display: flex;
      flex-direction: column;
      background-color: lightgray;
      row-gap: 1rem;
  }


  @media screen and (min-width:30rem){
    .main__lsf__paragraphe__titre{
        text-align: center;
    }
  }

