body{
    margin:auto;
}

.main_lsf
{

    margin: 0 auto;
    max-width: 34rem;

}

@font-face{
    font-family: Indie-flower, luciole;
    src: local("indie-flower-bold"),
     url(IndieFlowerBold.ttf);
     src: local("luciole"),
     url(luciole.ttf);
}

.h2{
    font-family:"Indie-flower" bold;
    font-size:15px ;
    text-align: center;
}

.h3,h4{
    font-family: "Indie-flower" bold;
    font-size: 14px ; 
   
}

.p{
    font-family: "luciole";
    font-size:20px;
}


.li{
   font-family: "luciole";
   text-align: center;
   font-size:10px;
   list-style-position: inside;  
    }

.image{
    width: 100%;
    max-width: 20rem;
    height: auto;
    margin-left: 25%;
    }
    
    .main_lsf
    {
        text-align: left;
    }

  

    .test_para,li,h3,a
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
 
    }

   
  
  @media screen and (min-width:30rem)
  {
    .test h2
    {
       text-align: center;
    
    }
  }