body{
    margin:auto;
}

.main_lsf
{

    margin: 0 auto;
    max-width: 34rem;

}

@font-face{
    font-family: 'Indie-Flower, Luciole-Regular';
    src:
     url('police/IndieFlowerBold.ttf'), format(truetype);
     src:
     url('police/LucioleRegular.ttf'), format(truetype);
   font-weight:normal;
   font-size:normal;  
}

.h2{
    font-family:"Indie-flower" bold;
    font-size:10px ;
    text-align: center;
    
}

.h3{
    font-family: "Indie-flower" bold;
    font-size: 8px ; 
   
}

.p{
    font-family: "luciole";
    font-size:20px;
}

.image{
    width: 100%;
    max-width: 20rem;
    height: auto;
    margin-left: 25%;
    }
    
    .main_lsf
    {
        text-align: left;
    }

  

    .test_para,a
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
 
    }

   
  
  @media screen and (min-width:30rem)
  {
    .test h2
    {
       text-align: center;
    
    }
  }