@font-face {
    font-family: "luciole";
    src: url("../assets/fonts/Luciole-Regular.ttf");
}
body {
    background-color: none;
    font-family: "luciole";
}

.container {
    width: 85%;
    margin: auto;
}

.para {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.quest {
    font-weight: bold;
}


