@font-face {
    font-family: "luciole";
    src: url("../assets/fonts/Luciole-Regular.ttf");
}

.main__statistique {
    width: 85%;
    margin: auto;
    background-color: none;
    font-family: "luciole";
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    max-width: 60rem;

}



.main__statistique__paragraphe__subtitle {
    font-weight: bold;
}
