@font-face {
    font-family: "luciole";
    src: url("../assets/fonts/Luciole-Regular.ttf");
}
body {
    background-color: none;
    font-family: "luciole";
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__interview {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    text-align: justify;
}

.main__interview__question {
    font-weight: bold;
}

.margin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

