body {
    background-color: red;
    font-family: "luciole";
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.margin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.main__credits {
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    text-align: justify;
}