@font-face {
    font-family: "luciole";
    src: url("../assets/fonts/Luciole-Regular.ttf");
}
body {
    background-color: none;
    font-family: "luciole";
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 50rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.para {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.quest {
    font-weight: bold;
}

.marge {
    margin: 1.5rem;
}
