/* BASICS SETTINGS */

@font-face 
{
    font-family: "indie";
    src: url("../assets/fonts/IndieFlower-Regular.ttf") ;
}

@font-face 
{
    font-family: "luciole";
    src: url("../assets/fonts/Luciole-Regular.ttf") ;
}

*
{
    margin: 0;
    padding: 0;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    min-height: 100vh;
    font-family: "luciole";
}

img
{
    width: 100%;
    height: auto;
}

.margin
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}

.text_landingpage
{
    font-size: 2rem;
    max-width: 30rem;
    line-height: 4rem;
}

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 6rem;
}

main img
{
    max-width: 16rem;
}

/* Miniature landing page */

.miniature
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 3rem;
    column-gap: 12rem;
}

.miniature__group
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    align-items: center;
    text-align: center;
}

.miniature__group__button
{
    width: 80px;
    height: 30px;
    background-color: white;
    border : solid blue 1px;
    border-radius: 4px;
}

.miniature__group__button:hover
{
    background-color: blue;
    cursor: pointer;
}

.miniature__group__text
{
    max-width: 14rem;
}

.miniature__group__text__titre
{
    font-size: 2rem;
}




